.container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
        linear-gradient(
            to right bottom, 
            rgba(76, 216, 255, 0.8),
            rgba(30, 108, 217, 0.8)
        ),
        url("/assets/images/sea.jpeg");

    // background: linear-gradient(to right bottom, rgba(100, 165, 227, 0.6), rgba(35, 90, 117, 0.6)), url(/assets/images/sea.jpeg);
    

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item {
    padding: 0 30px 0 30px;

    > * {
        color: white;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    }
    
    > h1 {
        font-size: 80px;
        font-weight: 900;
        margin-top: 10px;
        margin-bottom: 0;
    }

    @media only screen and (max-width: 768px) {
        > h1 {
            font-size: 60px;
        }
    }

    > p {
        font-size: 20px;
    }
}



span.avoid-wrap {
    display: inline-block;
}